body {
	color: #62C8CB;
	font-size: 20px;
	font-family: Helvetica;
	line-height: 1.5em;
}
h1,h2 {
	color: #119DA2;
	font-family: Helvetica;
	text-transform: uppercase;
	line-height: 1.2em;
}
p {
	padding-bottom: 10px;
}
.column1 {
	background: #D8EDEE;
}
.column2 {
	background: #C0F0F2;
}
.column3 {
	background: #fff;
}